
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
annotated-types==0.7.0
anthropic==0.49.0
anthropic[bedrock]==0.49.0
anthropic_common @ git+https://github.com/obot-platform/tools.git@f075bcef5c63ab206d3c0d5b12cd2dcf891402b4#subdirectory=anthropic-model-provider
anyio==4.9.0
attrs==25.3.0
azure-identity==1.21.0
azure-mgmt-cognitiveservices==13.6.0
azure-mgmt-resource==23.3.0
beautifulsoup4==4.13.3
boto3==1.37.26
cachetools==5.5.2
certifi==2024.7.4
charset-normalizer==3.3.2
distro==1.9.0
fastapi==0.115.12
filetype==1.2.0
frozenlist==1.5.0
google==3.0.0
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-genai==1.2.0
gptscript @ git+https://github.com/gptscript-ai/py-gptscript.git@5c00a24fc28af472202df8763d2e99b10d6db097
gspread==6.2.0
h11==0.14.0
html2text==2024.2.26
httpcore==1.0.7
httpx==0.27.0
hubspot-api-client==11.1.0
idna==3.7
jiter==0.7.0
linkedin-api-client==0.3.0
markdownify==1.1.0
mistune==3.1.1 # BSD-3-Clause License
multidict==6.2.0
openai==1.70.0
pandas==2.2.3
pillow==11.1.0
propcache==0.3.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.2
rfc3339-validator==0.1.4
rsa==4.9
# setuptools dep fixes https://github.com/HubSpot/hubspot-api-python/issues/303
setuptools==78.1.0
simple-salesforce==1.12.6
sniffio==1.3.1
soupsieve==2.6
tavily-python==0.5.1
textstat==0.7.5
tiktoken==0.9.0
tqdm==4.66.3
typing_extensions==4.13.1
urllib3==2.2.2
uvicorn[standard]==0.34.0
voyageai==0.3.2
websockets==14.2
wheel==0.45.1
yake==0.4.8
yarl==1.18.3
youtube-transcript-api==0.6.2
yt-dlp==2024.11.4
