annotated-types
anyio
cachetools
certifi
charset-normalizer
google-auth
google-genai
google
h11
httpcore
httpx
idna
pyasn1
pyasn1_modules
pydantic
pydantic_core
requests
rsa
sniffio
typing_extensions
urllib3
websockets
pip
attrs
wheel
Pygments
aiohttp
pillow
git+https://github.com/gptscript-ai/py-gptscript.git@0cebee3afa51b8c56006e479a990c262bd693ba6#egg=gptscript