annotated-types==0.7.0
anyio==4.9.0
certifi==2024.7.4
charset-normalizer==3.3.2
distro==1.9.0
h11==0.14.0
httpcore==1.0.7
httpx==0.27.0
idna==3.7
jiter==0.7.0
openai==1.70.0
pydantic==2.9.2
pydantic_core==2.23.4
requests==2.32.2
sniffio==1.3.1
tqdm==4.66.3
typing_extensions==4.13.1
urllib3==2.2.2
youtube-transcript-api==0.6.2
yt-dlp==2024.11.4
git+https://github.com/gptscript-ai/py-gptscript.git@0cebee3afa51b8c56006e479a990c262bd693ba6#egg=gptscript
