filetype==1.2.0
google-api-python-client==2.166.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
git+https://github.com/gptscript-ai/py-gptscript.git@5c00a24fc28af472202df8763d2e99b10d6db097#egg=gptscript
tiktoken==0.9.0
beautifulsoup4==4.13.3